#card-header-table {
  background: linear-gradient(60deg, #ef5350, #9C27B0);
}

#button-add-product {
  background: #fff;
  color: #9C27B0;
  width: 100%;
}

.form-card {
  color: #fff;
  width: 100%;
}

.form-card::placeholder {
  color: #e5e5e5;
}

.input-name span {
  color: red; 
}

#formErrorIconColor {
  color: #fff; 
  align-content: center;
  justify-content: center;
}

#infoError {
  align-content: center;
  justify-content: center;
}

.alignError {
  align-content: center;
  justify-content: center;
}

.alertErrorInfo {
  padding-bottom: 1px;
  padding-top: 13px;
}

#searchProduct {
  color: #9C27B0;
  padding-bottom: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif, FontAwesome;
}

input#searchProduct.form-control {
  background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #66000000 1px, rgba(210, 210, 210, 0) 1px);
}

#searchProduct::placeholder {
  color: #9C27B0;
  opacity: 1; 
}

.productsPagination /deep/ .ngx-pagination .current {
  background: #9C27B0;
}

.productsPagination {
  text-align: center;
}

.productsPagination /deep/ ul.ngx-pagination {
  padding-left: 0;
  margin-bottom: 0;
}

button.btn.btn-sm {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.main-content {
  padding-top: 0px;
}
